---
layout: default
---

<div class="post">
  <header class="post-header">
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  <style>
    .midi-player, .midi-visualizer {
      background-color: #4d4;
      display: block;
      width: auto;
      height: auto;
    }
  </style>

  <!-- MIDI Player Integration -->
  <script src="https://cdn.jsdelivr.net/npm/tone@14.7.58"></script>
  <script src="https://cdn.jsdelivr.net/npm/@magenta/midi-player@1.5.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.23.1/es6/core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/html-midi-player@1.5.0"></script>

<div class="VoiceGroup-section">
<!--  <h3>VoiceGroup {{ i | plus: 1 }}</h3> &lt;!&ndash; Use the 'plus' filter to add 1 &ndash;&gt;-->

  <hr>
  <select id="sourcegenreSelect" onchange="updateMidiPlayers()">
    <option selected disabled>Select Original Genre</option> <!-- Default 'prompt' option -->
<!--populate with page.Genres-->
    {% for genre in page.Genres %}
    <option value="{{ genre }}">{{ genre }}</option>
    {% endfor %}
  </select>
<select id="targetgenreSelect" onchange="updateMidiPlayers()">
    <option selected disabled>Select Target Genre</option> <!-- Default 'prompt' option -->
<!--populate with page.Genres-->
    {% for genre in page.Genres %}
    <option value="{{ genre }}">{{ genre }}</option>
    {% endfor %}
  </select>

  <select id="sampleSelect" onchange="updateMidiPlayers()">
    <option selected disabled>Select Sample</option> <!-- Default 'prompt' option -->
    {% for j in (0..19) %}
    <option value="{{ j }}">Sample {{ j }}</option>
    {% endfor %}
  </select>
  <select id="modelSelect" onchange="updateMidiPlayers()">
    <option selected disabled>Select Model</option> <!-- Default 'prompt' option -->

    <option value="{{0}}">MuteGenre1</option>
    <option value="{{1}}">MuteGenre2</option>

  </select>
  <select id="betaSelect" onchange="updateMidiPlayers()">
    <option selected disabled>Select Beta</option> <!-- Default 'prompt' option -->

    <option value="{{0}}">0.2</option>
    <option value="{{1}}">0.5</option>
    <option value="{{2}}">1.0</option>
  </select>

  <div class="players">
    <br>

    <h7>Original Genre</h7>
    <br>
    <midi-player id="midiPlayerOriginal" sound-font visualizer="#midiVisualizerOriginal"></midi-player>
    <midi-visualizer type="piano-roll" id="midiVisualizerOriginal"></midi-visualizer>
    <br>

    <h7>Target Genre</h7>
    <br>
    <midi-player id="midiPlayerTarget" sound-font visualizer="#midiVisualizerTarget"></midi-player>
    <midi-visualizer type="piano-roll" id="midiVisualizerTarget"></midi-visualizer>
  </div>
</div>
<br>


  <script>
  function updateMidiPlayers() {
    // print a message to the console
    console.log('Updating MIDI Players');

    var sourcegenreSelect = document.getElementById('sourcegenreSelect').value;
    var targetgenreSelect = document.getElementById('targetgenreSelect').value;
    var sampleSelect = document.getElementById('sampleSelect').value;
    var modelSelect = document.getElementById('modelSelect').value;
    var betaSelect = document.getElementById('betaSelect').value;

    // Assuming there are URLs or data that correspond to these selections
    var models = ["MuteGenre1", "MuteGenre2"];
    var betas = ["0.2", "0.5", "1.0"];

    // Update the MIDI Player source for not muted
    var midiUrl = "{{ site.baseurl }}/assets/genre_control_samples/"+sourcegenreSelect+"/" + sourcegenreSelect + "/"+models[modelSelect]+"/" + betas[betaSelect] + "/" + sampleSelect + ".mid";
    var midiPlayerOriginal = document.getElementById('midiPlayerOriginal');
    midiPlayerOriginal.src = midiUrl;
    var midiVisualizerOriginal = document.getElementById('midiVisualizerOriginal');
    midiVisualizerOriginal.setAttribute('src', midiPlayerOriginal.src);

    // Update the MIDI Player source for muted
    var midiUrl2 = "{{ site.baseurl }}/assets/genre_control_samples/"+sourcegenreSelect+"/" + targetgenreSelect + "/"+models[modelSelect]+"/" + betas[betaSelect] + "/" + sampleSelect + ".mid";
    var midiPlayerTarget = document.getElementById('midiPlayerTarget');
    midiPlayerTarget.src = midiUrl2;
    var midiVisualizerTarget = document.getElementById('midiVisualizerTarget');
    midiVisualizerTarget.setAttribute('src', midiPlayerTarget.src);


  }
</script>

</div>
