---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
    <hr>
    <br><br>
  </header>

  <article>
<!--check if page.toc then include toc.html-->
    {{ content }}
  </article>

  <style>
    .midi-player, .midi-visualizer {
      background-color: #4d4;
      display: block;
      width: 100%; /* Set width to full container width */
      height: auto; /* Maintain aspect ratio */
    }
    h4 {
      font-size: 1em; /* Reduce the size of subset labels */
    }
    .player-container {
      flex-basis: 20%; /* Adjust the container size for each player */
    }
    .players-row {
      display: flex;
      justify-content: start;
      gap: 20px; /* Spacing between elements within a row */
    }
  </style>

  <!-- MIDI Player Integration -->
  <script src="https://cdn.jsdelivr.net/npm/tone@14.7.58"></script>
  <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.23.1/es6/core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/focus-visible@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/html-midi-player@1.5.0"></script>

  {% for genre in page.genres %}
    <br><br>
    <h3 style="font-weight: bold;">{{ genre }}</h3>
    <hr>

    <!-- Shared MIDI File Selector -->
    <label for="midiSelect{{ genre }}">Select MIDI File for {{ genre }}:</label>
    <select id="midiSelect{{ genre }}" onchange="updateMidiSources('{{ genre }}')">
      <option value="" selected disabled>Select MIDI File</option> <!-- Default 'prompt' option -->
      {% for i in (1..49) %}
        <option value="{{ i }}">MIDI {{ i }}</option>
      {% endfor %}
    </select>

    <!-- Beta Value Selector -->
    <label for="betaSelect{{ genre }}">Select Beta:</label>
    <select id="betaSelect{{ genre }}" onchange="updateMidiSources('{{ genre }}')">
      <option value="" selected disabled>Select Beta</option>
      <option value="0.2">0.2</option>
      <option value="0.5">0.5</option>
      <option value="1.0">1.0</option>
    </select>

    <!-- First Row for Ground Truth Only -->
    <div class="players-row">
      <div class="player-container">
        <br>
        <h4>Ground Truth</h4>
        <midi-player id="midiPlayer{{ genre }}GroundTruth" sound-font visualizer="#myVisualizer{{ genre }}GroundTruth"></midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer{{ genre }}GroundTruth"></midi-visualizer>
      </div>
    </div>

    <!-- Second Row for Other Categories -->
    <div class="players-row">
      <div class="player-container">
        <br>
        <h4>Base</h4>
        <midi-player id="midiPlayer{{ genre }}Base" sound-font visualizer="#myVisualizer{{ genre }}Base"></midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer{{ genre }}Base"></midi-visualizer>
      </div>
      <div class="player-container">
        <br>
        <h4>Mute</h4>
        <midi-player id="midiPlayer{{ genre }}Mute" sound-font visualizer="#myVisualizer{{ genre }}Mute"></midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer{{ genre }}Mute"></midi-visualizer>
      </div>
      <div class="player-container">
        <br>
        <h4>MuteGenre1</h4>
        <midi-player id="midiPlayer{{ genre }}MuteGenre1" sound-font visualizer="#myVisualizer{{ genre }}MuteGenre1"></midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer{{ genre }}MuteGenre1"></midi-visualizer>
      </div>
      <div class="player-container">
        <br>
        <h4>MuteGenre2</h4>
        <midi-player id="midiPlayer{{ genre }}MuteGenre2" sound-font visualizer="#myVisualizer{{ genre }}MuteGenre2"></midi-player>
        <midi-visualizer type="piano-roll" id="myVisualizer{{ genre }}MuteGenre2"></midi-visualizer>
      </div>
    </div>
  {% endfor %}

  <script>
    function updateMidiSources(genre) {
      var midiIndex = document.getElementById('midiSelect' + genre).value;
      var betaValue = document.getElementById('betaSelect' + genre).value;
      if (!midiIndex || !betaValue) {
        console.log("Please select both a MIDI file and a Beta value.");
        return; // Prevent updating if selections are not complete
      }
      var subsets = ["GroundTruth", "Base", "Mute", "MuteGenre1", "MuteGenre2"];
      subsets.forEach(function(subset) {
        var midiPlayer = document.getElementById('midiPlayer' + genre + subset);
        var visualizerElement = document.getElementById('myVisualizer' + genre + subset);
        var filePrefix = subset === "GroundTruth" ? "Ground Truth/" : subset.toLowerCase() + "_" + betaValue + "/";
        midiPlayer.src = "{{ site.baseurl }}/{{ page.root_dir }}/" + filePrefix + genre + "/" + midiIndex + ".mid";
        visualizerElement.setAttribute('src', midiPlayer.src); // Update the visualizer source to reflect the new MIDI file
      });
    }
  </script>

</div>
